@{
    ViewData["Title"] = "Meus repositórios";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="~/img/waving-hand.png" alt="Bem-vindo" width="70%"/>
            </div>
            <div class="col-10">
                <h1>Bem vindo </h1>
                <p>Este Git View está apontando para meu perfil, o <a href="https://github.com/@ViewData["GitUser"]" target="_blank">/@ViewData["GitUser"].</a> Pesquise abaixo entre os meus repositórios, ou se preferir, pesquise entre os repositórios globais do GitHub.</p>
            </div>
        </div>
    </div>
</div>
 
<div class="row mt-2">
   <div class="col-12">
       <input type="search" class="form-control" placeholder="Pesquise entre meus repositórios "/>
   </div>
</div>

<div class="row mt-2">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="~/img/folder.png" alt="repositórios"  width="25%"/>
                <h4 class="mt-2">Titulo</h4>
                <h6>subtitulo</h6>
            </div>
        </div>
    </div>

</div>


